#hot-wallet-main{
    
    border: solid 1px black;
}

/* Desktop */
@media screen and (min-width: 900px) {
	
    #hot-wallet-main{
        width: 800px;
        height: 600px;
    }
	
}

/*Mobile*/
@media screen and (max-width: 900px) 
{
  
    
}