#connect{
    width: 100%;
    
    border: solid 1px black;
    display:  flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#spacer{
    height: 50vh;
    width: 100%;
}

#callbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
    align-items: center;
}

/* Desktop */
@media screen and (min-width: 900px) {
	/* width */
    #callbar{
        width: 30%;
    }

    #connect{
        height: 70vh;
    }
	
}

/*Mobile*/
@media screen and (max-width: 900px) 
{
	/* width */
	#connect{
        height: 100vh;
    }
}


