#import{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#import-password-input, #import-confirm-input{
    margin-top: 2.5px;
}

#connect-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin-top: 2.5px;
}

#import-display-button, #import-create-button{
    color: var(--purple);
}

#import-display-button, #import-connect-button, #import-create-button{
    border: none;
    background: none;
}

#import-display-button:hover, #import-connect-button:hover, #import-create-button:hover{
    text-decoration: underline;
}

#create-display{
    display: flex;
    flex-direction: row;
    /*border: solid 1px gold;*/
    width: 300px;
}

/* Desktop */
@media screen and (min-width: 900px) {
	#import{
        height: 600px;
        width: 800px;
        border-left: solid 1px gray;
        border-right: solid 1px gray;;
    }
    
	
}

/*Mobile*/
@media screen and (max-width: 900px) 
{
  
    #import{
        height: 600px;
        width: 375px;
    }
}